{{repo-list repos=model}}

<form onsubmit={{action handleFormSubmit}}>
  <label>
    <span>Update first repo name</span>
    <input type="text" oninput={{action handleRepoNameInput value='target.value'}}>
  </label>

  <input type="submit" value="Update">
</form>

{{outlet}}
